.HA_VERSION
OZW_Log.txt
certs/
deps/
tts/
.storage/
ecobee.conf
home-assistant.log
home-assistant_v2.db
html5_push_registrations.conf
known_devices.yaml
pyozw.sqlite
secrets.yaml
zwcfg_0xe4045bca.xml
zwscene.xml
home-assistant_v2.db-journal
html5_push_registration_backup.conf
options.xml
.uuid
