homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: 235
  unit_system: imperial
  time_zone: America/Detroit
  customize: !include customize.yaml

#################################
#                               #
#           Enables             #
#                               #
#################################

frontend:
config:
http:
  base_url: https://scottgauche.com
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
updater:
  reporting: no
  include_used_components: false
hassio:
history:
  include:
    entities:
      - binary_sensor.door_front
      - binary_sensor.door_side
      - binary_sensor.door_garage
      - binary_sensor.ecobee_occupancy
      - binary_sensor.flood_sensor
      - binary_sensor.living_room_occupancy
      - binary_sensor.master_bedroom_occupancy
      - binary_sensor.office_occupancy
      - device_tracker.kylie_phone_bt
      - device_tracker.kylie_phone_wifi
      - device_tracker.scott_phone_bt
      - device_tracker.scott_phone_wifi
      - sensor.ecobee_humidity
      - sensor.ecobee_temperature
      - sensor.living_room_temperature
      - sensor.master_bedroom_temperature
      - sensor.office_temperature
      - sensor.pws_relative_humidity
      - sensor.pws_temp_f
      - switch.light_side_entry
      - switch.relay_garage_door
      - switch.smart_switch
logbook:
map:
recorder:
  purge_keep_days: 10
sun:
cast:
  media_player:
  - host: 192.168.5.30
  - host: 192.168.5.31

#################################
#                               #
#           Includes            #
#                               #
#################################
# Text to speech
#tts:
#  - platform: google

# Cloud
#cloud:

automation: !include automation.yaml
binary_sensor: !include binary_sensors.yaml
device_tracker: !include device_trackers.yaml
ecobee: !include ecobee.yaml
group: !include groups.yaml
notify: !include notify.yaml
script: !include scripts.yaml
sensor: !include sensors.yaml
zwave: !include zwave.yaml
zone: !include zones.yaml
