homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: 235
  unit_system: imperial
  time_zone: America/Detroit
  customize: !include customize.yaml

#################################
#                               #
#           Enables             #
#                               #
#################################

frontend:
http:
  api_password: !secret http_password
  ssl_certificate: !secret ssl_cert
  ssl_key: !secret ssl_key
mqtt:
  broker: 127.0.0.1
  port: 1883
  client_id: home-assistant-1
  username: !secret mqtt_user
  password: !secret mqtt_password
updater:
discovery:
#conversation:
history:
logbook:
#logger:
recorder:
  purge_days: 30
sun:

#################################
#                               #
#           Includes            #
#                               #
#################################

automation: !include automation.yaml
device_tracker: !include device_trackers.yaml
ecobee: !include ecobee.yaml
group: !include groups.yaml
input_boolean: !include input_boolean.yaml
#input_select: !include input_select.yaml
#input_slider: !include input_slider.yaml
media_player: !include media_players.yaml
notify: !include notify.yaml
script: !include scripts.yaml
sensor: !include sensors.yaml
zwave: !include zwave.yaml
zone: !include zones.yaml